/* Feuille de style pour la page: Balises de mise en page */

body {
    background-color: #EEEDEB;
}

div.navigation {
  text-align: center;
    border: 2px solid #3C0753;
    padding: 20px;

}

h1 {
    text-transform: uppercase;
    color: #3C0753;
    font-size: 50px;

}*

main.main {
border: 2px solid #3C0753;
padding: 20px 50px;
margin-top: 10px;

}

section.section1,section.section2 {

    text-align: center;
}

section.section1 img {
    border-radius: 20px;
}

section.section2 {
    background-image: url(../img/maik-jonietz-_yMciiStJyY-unsplash.jpg);
padding: 100px;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
color: #EEEDEB;
}

section.section2 p{
    display:inline-block;
    border: solid 2px blueviolet;
    width: 33%;
    padding: 20px;
    background-color: black;
    text-align: left;

}

footer.piedDePage {
border: solid 2px violet;
margin-top: 20px;
/* text-align:center ; */
}

div.piedDePage ul {
    display: inline-block;
width: 25;
list-style: none;


}

div.piedDePage ul li {
    margin-bottom: 20px;

}
div.piedDePage ul li a {
color: #3C0753;

padding: 8px 12px;
border-radius: 3px;

text-decoration: none;
}
.navigation a {
    color:white ;
   
    font-weight: bold;
text-decoration: none;
display: inline-block;
width: 33%;
padding: 5px 0;
border-radius: 10px;

}

a { background-color: #D9A9DB; 
    font-weight: bold;
}
