/* ***********************Style pour la paga des tableau************************* */
*{
    box-sizing: border-box;
}

body {
    width: 50%;
    margin: 0 auto;
    background-color: #FFE7E7;
}

h1 {
    text-align: center;
}

caption {
    color: #6e2142;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

table {
    border: 3px solid #6e2142;
    width: 90%;
    padding: 30px;
    margin-top: 50px;
    background-color: #FFF6E9;
    border-collapse: collapse;
    /* Par défaut la bordure contient 2 trai, pour que le trait soit soit unique on utilise la propriété "border-collapse" avec la valur "collapse" */
    text-align: center;
}

th, td {
    border: 3px solid #6e2142;
    padding: 10px;
}

thead, tfoot {
    background-color: #be7575;
}


#demorowspan tr :first-child:not(:last-child) {
    background-color: #be7575;
}

#exo1 td, #exo2 td{
    height: 50px;
    width: 50px;
    border: none;
}

.noir {
    background-color: black ;
}

.rouge {
    background-color: red;
}

.borderT {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



/* ****************************style pour le rowspan exercice coeur *********** */

#exoRowspan {
    height: 15em;
    background-color: white;
  }
  
  
  
  #exoRowspan th, #exoRowspan td {
    border: none;  
  }
  
  .black {
    background-color: black;
  }
  .red {
    background-color: red;
  }
  
  .borderLeft {
    border-radius: 10px 0 0 0;
  }
  
  .borderRight {
    border-radius: 0 10px 0 0;
  }